*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    margin: 0;
    padding: 0;
}
nav{
    margin:0;
    padding:0;
    width:100%;
    height: 50px;
    border: 1px solid black;
    direction: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 50px;
}
nav .left-div{
   
   width: 30%;
   margin: 0;
   padding: 0;
    
}
nav .left-div h1{
    width:60px;
}
nav .right-div{
    display:inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}
ul{
    display: inline;
    border: 1px solid black;

}
ul li{
    display: inline-block;
    margin-left:5px;
    
}
.input{
    border: 1px solid black;
    margin: 0;

}
